header.header 
    nav.nav.nav--tours
        a(href="/" class="nav__el") All tours
    div.header__logo
        img(src="/img/logo-white.png" alt="Natour logo")
    nav.nav.nav--user
        if user
            a.nav__el.nav__el--logout Log out
            a.nav__el(href="#")
                img.nav__user-img(src=`/img/users/${user.photo}` alt=`Imagem de ${user.name}`)
                span= user.name.split(' ')[0]
        else
            button.nav__el 
                a(href="/login" class="nav__el") Login
            button.nav__el.nav__el--cta Sign Up