doctype html
html(lang="pt-br")
    head
    block head
        meta(charset="UTF-8")      
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="/css/style.css")
        link(rel="shortcut icon" href="/img/favicon.png" type="image/png")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900")

        //- script(src='/js/login.js', defer)
        //- script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.8/axios.min.js" integrity="sha512-PJa3oQSLWRB7wHZ7GQ/g+qyv6r4mbuhmiDb8BjSFZ8NZ2a42oTtAq5n0ucWAwcQDlikAtkub+tPVCw4np27WCg==" crossorigin="anonymous" referrerpolicy="no-referrer" defer)
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ol@v9.1.0/ol.css")
        script(src="https://cdn.jsdelivr.net/npm/ol@v9.1.0/dist/ol.js")
        script(type="module" src="/js/openLayer.js" defer)
        script(src="/js/bundled/index.js" defer)

        title Natours | #{title}


    body 
        //- HEADER
        include _header

        //- CONTENT        
        block content
            //- h1 Este é o conteúdo da página base.pug

        //- FOOTER
        include _footer
