extends base

block content
    h1 Todos os usuários 
    main.main
        table.all-users
            each user in users
                tr
                    td= user.name
                    td= user.email
                    td= user.role
                    td
                        a(href=`http://localhost:3000/users/${user._id}/edit`).btn-dell Excluir